
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '.././node_modules/@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$todolist-primary: mat-palette($mat-indigo);
$todolist-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$todolist-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$todolist-theme: mat-light-theme($todolist-primary, $todolist-accent, $todolist-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include angular-material-theme($todolist-theme);

/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Oswald', sans-serif !important;
}
.bg-body{
    background-image: url('../src/assets/images/background-todolist.jpg') ;
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg-body::before{
    content: '';
    position: fixed;
    z-index: -3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(12, 12, 12, 0.73);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
